h2{
padding: 10px 30px 10px 30px;
color: white;
background-color: black;
font-family: monospace;
font-size: 2em;
border: 30px ridge;
border-color: blue;
}
body{
background-color:green;
}

h1{
 padding: 10px;
 color:white;
 background-color: black;
 font-size: 3em;
 font-family: monospace;
 border: 30px double;
 border-color: blue;
}

p{
color: black;
font-family: sans-serif;
font-size: 1.25em;
}

#mainNavigation{
color:blue;
background-color: green;
font-family: inherit;
font-size: 1.25em;
border: 20px ridge;
border-color: blue;
margin:5px;
}

#mainNavigation a:hover{
background-color: black;
}

#mainNavigation a:visited{
color:yellow;
}

#mainNavigation li {
display:inline-block;
color: red;
border: 3px outset;
}

.linkColors a:visited{
color: blue;
}

.imageTest{
height:30vw;
width: 50vw;
}
