/*Website design [start]*/
h2{
padding: 10px 30px 10px 30px;
color: white;
background-color: black;
font-family: monospace;
font-size: 2em;
border: 30px ridge;
border-color: blue;
font-family: 'Overpass', sans-serif;
}

ul{
  padding-left: 0;
}

body{
background:green;
}

h1{
 padding: 10px;
 color:white;
 background-color: black;
 font-size: 3em;
 font-family: monospace;
 border: 30px double;
 border-color: blue;
 font-family: 'Rubik', sans-serif;
}

p{
color: black;
font-family: sans-serif;
font-size: 1.25em;
font-family: 'Alata', sans-serif;
}
/*Website design [end]*/

/* mainNavigation design [start] */
.navigationDesign{
display: grid;

}

#mainNavigation{
color:blue;
background-color: green;
font-family: inherit;
font-size: 1.25em;
border: 20px ridge;
border-color: blue;
font-family: 'Vollkorn', serif;
}

#mainNavigation a:hover{
color: yellow;
background-color: black;
}

#mainNavigation a:visited{
color:yellow;
}

#mainNavigation li {
display:inline-block;
color: red;
border: 5px outset;
}
/* mainNavigation design [end] */

/* Link stuff [start]*/
.linkColors a:visited{
color: yellow;
}

.linkColors a:hover{
color: yellow;
background-color: white;
}

.linkDesigns{
border: 20px inset;
background-color: black;
border-color: blue;
}
/*Link stuff [end] */

/*Image designs [start] */
.imageTest{
height:30vw;
width: 50vw;
margin:30px;
}

.borderOnImages{
border: inset;
border-style:solid;
border-width: medium;
display: block;
margin-left: auto;
margin-right: auto;
}

.boxShadowTest{
  border: 6px ridge;
  border-color: red;
  padding: 1px;
  box-shadow: 10px 5px;
}
/* Image test [end] */

/*gridImage [start]*/
.imageGrid{
  display:grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
  'ballImage1 ballImage1 ballImage1 ballImage2 ballImage2 ballImage2'
  'ballImage3 ballImage3 ballImage3 ballImage4 ballImage4 ballImage4'
  'ballImage5 ballImage5 ballImage5 ballImage6 ballImage6 ballImage6'
  'ballImage7 ballImage7 ballImage7 ballImage8 ballImage8 ballImage8'
  'ballImage9 ballImage9 ballImage9 ballImage10 ballImage10 ballImage10'
  'ballImage11 ballImage11 ballImage11 . . .'
  ;
  grid-template-columns:50px;
  grid-template-rows:50px;
  grid-gap: 50px 30px
}

.ballImage1{
  grid-area:ballImage1;
}
.ballImage2{
    grid-area:ballImage2;
}
.ballImage3{
    grid-area:ballImage3;
}
.ballImage4{
    grid-area:ballImage4;
}
.ballImage5{
    grid-area:ballImage5;
}
.ballImage6{
    grid-area:ballImage6;
}
.ballImage7{
    grid-area:ballImage7;
}
.ballImage8{
    grid-area:ballImage8;
}
.ballImage9{
    grid-area:ballImage9;
}
.ballImage10{
    grid-area:ballImage10;
}
.ballImage11{
    grid-area:ballImage11;
}
/*gridImage [end]*/

/*navigationGrid [start]*/
.navigationWrapper{
display: grid;
font-weight:bold;
grid-template-areas:
'intro intro intro'
'examples examples examples'
'software software software'
'animations animations animations'
  ;
}

.intro{
  grid-area:intro;
}
.examples{
  grid-area:examples;
}
.software{
  grid-area:software;
}
.animations{
  grid-area:animations;
}

/*navigationGrid [end]*/
